.idea
.vscode
node_modules
platforms
hooks
package-lock.json
.DS_Store
npm-debug.log.*
demo*/typings
*.framework
**/*.js.map
src/**/*.js
plugin/**/*.d.ts
bin
build/
Pods
!plugin/platforms
/plugin/platforms/android/nativescript_*.aar
*.xcuserdatad
/plugin/README.md
*.aar
plugin/**/*js.map
plugin/**/*js
/pnpm-lock.yaml
